<h1>React Portafolio Items</h1>

<!-- <a href=>Create New Item</a> -->

<%= link_to 'Create New Item', new_portafolio_url %>

<% @portafolio_items.each do |portafolio_item| %>
  <p><%= link_to portafolio_item.title, portafolio_show_path(portafolio_item)%></p>
  <p><%= portafolio_item.subtitle %></p>
  <p><%= portafolio_item.body %></p>
  <%= image_tag portafolio_item.thumb_image unless portafolio_item.thumb_image.nil? %>
  <%# <%= link_to 'edit', edit_portafolio_path(portafolio_item.id) %>
  <%= link_to 'Delete Portafolio Item', portafolios_path, method: :delete, data: { confirm: 'Are you sure?' }  %>
<% end %>

