<h1>Show</h1>

<%= image_tag @portafolio_item.main_image unless @portafolio_item.main_image.nil? %>
<em> <%= @portafolio_item.title %> </em>
<em> <%= @portafolio_item.subtitle %> </em>
<em> <%= @portafolio_item.body %> </em>

<h2>Technologies Used:</h2>

<% @portafolio_item.technologies.each do |t| %>
  <p> <%= t.name %> </p>
<% end %>
