<div class='<%= location %>'>
  <div><%= link_to 'home', root_path %></div>
  <div><%= link_to 'About Me', about_path %></div>
  <div><%= link_to 'Contact', contact_path %></div>
  <div><%= link_to 'Blogs', blogs_path %></div>
  <div><%= link_to 'Portafolios', portafolios_path %></div>
</div>
